@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="AddTodo" asp-action="Add">Add New ToDo</a> <br />
    <a asp-controller="AddTodo" asp-action="Index">View Todos</a>
</div>
